@{
    ViewBag.Title = "Chat";
    Layout = "";

}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="~/Assets/css/style.css" rel="stylesheet">
    <script src="~/Assets/js/jquery-1.11.2.min.js"></script>
    <script src="assets/js/common.js"></script>
</head>
<body>
    <!-- header -->
    <div id="header">
        <!-- brand -->
        <div class="brand">
            Dashboard
            <button type="button"><i class="fa fa-bars"></i></button>
        </div>
        <!-- /brand -->
        <!-- nav -->
        <div id="nav">
            <ul>
                <li><a href="#">설정</a></li>
                <li><a href="#">내 계정</a></li>
            </ul>
        </div>
        <!-- /nav -->
    </div>
    <!-- /header -->
    <!-- side-panel -->
    <div id="side-panel">
        <!-- side-panel-body -->
        <div class="side-panel-body">

            aside<br>


        </div>
        <!-- /side-panel-body -->
    </div>
    <!-- /side-panel -->
    <!-- container -->
    <div id="container">

        <!-- chat-content -->
        <div class="chat-content">
            <!-- chat-content-header -->
            <div class="chat-content-header">
                <ul>
                    <li class="active"><button type="button">홍길동<i class="new-message">13</i></button></li>
                    <li><button type="button">김철수</button></li>
                    <li><button type="button">영심이</button></li>
                    <li><button type="button">손님입니다</button></li>
                </ul>
            </div>
            <!-- /chat-content-header -->
            <!-- chat-content-body -->
            <div class="chat-content-body">
                <div>
                    <div class="photo">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="body">
                        <div class="message">
                            you you you you you you you you you you
                        </div>
                        <div class="info">
                            2015.01.22 08:16:56
                        </div>
                    </div>
                </div>
                <div class="me">
                    <div class="photo">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="body">
                        <div class="message">
                            me me me me me me me me me me me
                        </div>
                        <div class="info">
                            2015.01.22 08:16:56
                        </div>
                    </div>
                </div>
                <div>
                    <div class="photo">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="body">
                        <div class="message">
                            you you you you you you you you you you
                        </div>
                        <div class="info">
                            2015.01.22 08:16:56
                        </div>
                    </div>
                </div>
                <div class="me">
                    <div class="photo">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="body">
                        <div class="message">
                            me me me me me me me me me me me
                        </div>
                        <div class="info">
                            2015.01.22 08:16:56
                        </div>
                    </div>
                </div>
                <div>
                    <div class="photo">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="body">
                        <div class="message">
                            you you you you you you you you you you
                        </div>
                        <div class="info">
                            2015.01.22 08:16:56
                        </div>
                    </div>
                </div>
                <div class="me">
                    <div class="photo">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="body">
                        <div class="message">
                            me me me me me me me me me me me
                        </div>
                        <div class="info">
                            2015.01.22 08:16:56
                        </div>
                    </div>
                </div>
            </div>
            <!-- /chat-content-body -->
            <!-- chat-content-footer -->
            <div class="chat-content-footer">
                <div class="body">
                    <form>
                        <input type="text">
                        <button type="submit">전송</button>
                    </form>
                </div>
            </div>
            <!-- /chat-content-footer -->
        </div>
        <!-- /chat-content -->




    </div>
    <!-- /container -->



</body>
</html>